In [15]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
# importing all necessary libraries

In [16]:
pwd()
# know your current working directory

'C:\\Users\\HP\\OneDrive\\Desktop\\AI&ML\\MACHINE LEARNING(algo)\\ML algo'

In [23]:
os.chdir('/data/raw/S1_dataset')
# change directory to S1_datset folder

In [25]:
list_df=os.listdir()
# make list of all files inside the folder

In [29]:
print(list_df)
# these are files in S1_dataset

['d1p01M', 'd1p02M', 'd1p03M', 'd1p04M', 'd1p05M', 'd1p06M', 'd1p07M', 'd1p08F', 'd1p09F', 'd1p10F', 'd1p11F', 'd1p12F', 'd1p13F', 'd1p14F', 'd1p15F', 'd1p16F', 'd1p17F', 'd1p18F', 'd1p19F', 'd1p20F', 'd1p21F', 'd1p22F', 'd1p23F', 'd1p24F', 'd1p25F', 'd1p26F', 'd1p27F', 'd1p28F', 'd1p29F', 'd1p30F', 'd1p31F', 'd1p32F', 'd1p33F', 'd1p34F', 'd1p35F', 'd1p36M', 'd1p37M', 'd1p38M', 'd1p39M', 'd1p40M', 'd1p41M', 'd1p42M', 'd1p43M', 'd1p44M', 'd1p45M', 'd1p46M', 'd1p47M', 'd1p48M', 'd1p49F', 'd1p50F', 'd1p51F', 'd1p52F', 'd1p53F', 'd1p54F', 'd1p55F', 'd1p56F', 'd1p57F', 'd1p58F', 'd1p59F', 'd1p60F']

In [36]:
columns=['Time',
 'frontal axis',
'vertical axis',
'lateral axis',
'antenna ID',
'RSSI' ,
'Phase',
'Frequency',
'Label']
# features in our dataset

In [38]:
dataframes1=[]
for file in list_df:
    if(file.endswith('.csv')):
        df=pd.read_csv(file,names=columns)
        dataframes1.append(df)
# reading csv files as Pandas dataframe and adding to list of dataframes- dataframes1

In [39]:
os.chdir('/data/raw/S2_dataset')
# change directory to S1_datset folder

In [42]:
list_df=os.listdir()
# make list of all files inside the folder

In [46]:
print(list_df)
# these are files in S2_dataset

['d2p01F',
 'd2p02F',
 'd2p03F',
 'd2p04F',
 'd2p05F',
 'd2p06F',
 'd2p07F',
 'd2p08F',
 'd2p09F',
 'd2p10F',
 'd2p11F',
 'd2p12F',
 'd2p13F',
 'd2p14F',
 'd2p15F',
 'd2p16F',
 'd2p17F',
 'd2p18M',
 'd2p19M',
 'd2p20M',
 'd2p21M',
 'd2p22M',
 'd2p23F',
 'd2p24F',
 'd2p25F',
 'd2p26F',
 'd2p27F']

In [48]:
for file in list_df:
    if(file.endswith('.csv')):
        df=pd.read_csv(file,names=columns)
        dataframes1.append(df)
# reading csv files as Pandas dataframe and adding to existing list of dataframes- dataframes1

In [50]:
final_df=pd.concat(dataframes1)
# concatenating list of dataframes as final_dataframe for model training

In [52]:
final_df.shape
# data contains 75128 entries , with 8 features and a LABEL

(75128, 9)

In [58]:
final_df.describe()
# statistical description of dataframe

,Time,frontal axis,vertical axis,lateral axis,antenna ID,RSSI,Phase,Frequency,Label
count,75128.000000,75128.000000,75128.000000,75128.000000,75128.000000,75128.000000,75128.000000,75128.000000,75128.000000
mean,299.080416,0.714211,0.345199,-0.217477,2.409581,-58.277253,3.157279,922.670536,2.528378
std,257.503002,0.404585,0.419041,0.438219,1.102165,5.174083,2.182257,1.679093,0.864258
min,0.000000,-0.748080,-0.553490,-1.336400,1.000000,-72.000000,0.000000,920.250000,1.000000
25%,121.250000,0.342380,-0.002297,-0.184730,1.000000,-62.000000,1.032400,921.250000,2.000000
50%,250.715000,0.682420,0.215880,-0.070699,3.000000,-58.000000,2.767300,922.750000,3.000000
75%,402.500000,1.104500,0.858940,0.031928,3.000000,-56.000000,5.358575,924.250000,3.000000
max,1739.400000,1.503200,2.030200,1.217800,4.000000,-38.500000,6.281700,925.750000,4.000000

In [56]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75128 entries, 0 to 177
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time           75128 non-null  float64
 1   frontal axis   75128 non-null  float64
 2   vertical axis  75128 non-null  float64
 3   lateral axis   75128 non-null  float64
 4   antenna ID     75128 non-null  int64
 5   RSSI           75128 non-null  float64
 6   Phase          75128 non-null  float64
 7   Frequency      75128 non-null  float64
 8   Label          75128 non-null  int64
dtypes: float64(7), int64(2)
memory usage: 5.7 MB

In [64]:
final_df.isnull().sum()
# our data contains no NULL value

Time             0
frontal axis     0
vertical axis    0
lateral axis     0
antenna ID       0
RSSI             0
Phase            0
Frequency        0
Label            0
dtype: int64

In [66]:
final_df
# final dataframe

,Time,frontal axis,vertical axis,lateral axis,antenna ID,RSSI,Phase,Frequency,Label
0,0.00,0.27203,1.00820,-0.082102,1,-63.5,2.4252,924.25,1
1,0.50,0.27203,1.00820,-0.082102,1,-63.0,4.7369,921.75,1
2,1.50,0.44791,0.91636,-0.013684,1,-63.5,3.0311,923.75,1
3,1.75,0.44791,0.91636,-0.013684,1,-63.0,2.0371,921.25,1
4,2.50,0.34238,0.96229,-0.059296,1,-63.5,5.8920,920.25,1
...,...,...,...,...,...,...,...,...,...
173,444.00,0.90520,0.64076,-0.082102,1,-59.5,1.9574,922.25,2
174,449.00,0.90520,0.64076,-0.082102,1,-59.0,6.2540,922.25,2
175,451.50,0.42446,0.91636,-0.161920,1,-53.0,5.7156,922.25,4
176,451.58,0.42446,0.91636,-0.161920,1,-52.0,5.8982,922.25,4
177,452.25,0.58862,0.87042,-0.082102,1,-60.0,5.7033,925.75,4

In [61]:
final_df.to_csv('final_dataset.csv', index=False)
# saving this data as processed dataset